---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<ul>
  {% for post in site.publications reversed %}
    {% assign display_venue = post.venue %}
    {% if post.venue contains "Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)" %}
      {% assign display_venue = "CVPR" %}
    {% elsif post.venue contains "Proceedings of the IEEE/CVF International Conference on Computer Vision (ICCV)" %}
      {% assign display_venue = "ICCV" %}
    {% elsif post.venue contains "Proceedings of the IEEE/CVF Winter Conference on Applications of Computer Vision (WACV)" %}
      {% assign display_venue = "WACV" %}
    {% elsif post.venue contains "Proceedings of the AAAI Conference on Artificial Intelligence" %}
      {% assign display_venue = "AAAI" %}
    {% elsif post.venue contains "IEEE Transactions on Pattern Analysis and Machine Intelligence" %}
      {% assign display_venue = "IEEE TPAMI" %}
    {% elsif post.venue contains "arXiv preprint " %}
      {% assign display_venue = post.venue | replace: "arXiv preprint ", "" %}
    {% endif %}
    <li>
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
      , <i>{{ display_venue }}</i>
    </li>
  {% endfor %}
</ul>
